<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="\stylesheets\homecss.css">
</head>
<body>
    <div class="header">
        <h1><a href="/home"><img src="/images/combine.png" alt="Title" class="titleI"></a></h1>
	<h2><%= username %> - <%= coins %>¢</h2>
        <div class="line"></div>
        <li class="divider2"></li>
        <div class="navigation">
            <ul>
                <li><a href="../battlesnakes/snakes.html">Snakes and Ladders</a></li>
                <li class="divider"></li>
                <li><a href="../battlesnakes/Battleship.html">Battleship</a></li>
                <li class="divider"></li>
                <li><a href="../battlesnakes/risk.html">Risk</a></li>
                <li class="divider"></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li class="divider"></li>
                <li><a href="/credits">Credits</a></li>
            </ul>
            <li class="divider2"></li>
        </div>
        <li><a href="/logout"><button class="logout">Logout</button></a></li>
    </div>
    <div class="ad">
        <a href="<%= link %>" target="_blank"><img src="/images/<%= image_name %>" alt="ad"></a>
    </div>
</body>
<div class="content">
  <div class="chart">
  <h3>Leaderboard</h3>
  <div class="table-data">
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Username</th>
	    <th>Coins</th>
        <th>Complete Games</th>
      </tr>
      <% if (userData.length !== 0) { %>
        <% userData.forEach(function(data, index) { %>
          <tr>
            <td><%= data.id %></td>
            <td><%= data.username %></td>
	        <td><%= data.coins %></td>
            <td><%= data.complete_games %></td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
      <% } %>
    </table>
  </div>
  </div>
</div>
</html>